@model Spralis.Web.ViewModels.ESIGetViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Get from ESI</h2>

@using (Html.BeginForm("Index", "ESI", FormMethod.Post, null))
{
    <div class="form-group">
        @Html.LabelFor(m => m.CharacterID)
        @Html.TextBoxFor(m => m.CharacterID)
    </div>
    <input type="submit" value="Go" />

    <div class="form-group">
        @Html.LabelFor(m => m.ResultJSON)
        @Html.TextAreaFor(m => m.ResultJSON, new { @readonly = true })
    </div>
}

